.airportSplit {
  text-align: center;
  background: url(./Pictures/AirportSplit.JPG) no-repeat;
  background-size: cover;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textAndButton {
  position: fixed;
  top: 200px;
}

.textAndButton p {
  color: white;
  font-family: "Beiruti", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.textAndButton button{
background-color: transparent;
border-radius: 25%;
font-size: 25px;
font-family: "Beiruti", sans-serif;
font-weight: 500;
width: 140px;
height: 50px;
cursor: pointer;
border: none;
margin-top: 50px
}

.textAndButton button::before {
  content: 'FOR FREE';
  background: black;
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  position: relative;
  transform-origin: top;
  transition: all 0.5s;
  border-radius: 30px;
  box-shadow: 0 0px 10px 30px rgb(0, 0, 0);
}

.textAndButton button::after {
  content: 'PURCHASE';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transform-origin: top;
  transform: translate(0%, -100%);
  transition: all 0.5s;
  border-radius: 30px;
  box-shadow: 0 0px 10px 20px rgb(255, 255, 255);
}

.textAndButton button:hover {
  color: white;
}

.textAndButton button:hover::before {
left: 0;
right: 0;
opacity: 1;
}

