.menuBox button {
    width: 2.5vw;
    height: 2.5vw;
    margin: 20px;
    background-color: transparent;
    border: none;
}

.menuBox img {
    background: transparent;
    position: fixed;
    width: 40px;
    height: 40px;
    top: 25px;
    left: 25px;
}

.backgroundWhite {
    display: flex;
    flex-direction: row;
    margin: 100px 100px 0px 160px;
}

.backgroundWhite img {
    background: url(./Pictures/MeetMeOne.jpg) no-repeat;
    width: 30vw;
    height: 35vw;
    margin-right: 50px;
}

.aboutMeText {
    margin-left: 50px;
}

.aboutMeText p {
    color: black;
    font-family: "Beiruti", sans-serif;
    font-size: 1.4vw;
}

.JustifyContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.hoverTextRight {
    font-size: 1.55vw;
    font-family: "Beiruti", sans-serif;
    height: 150px;
    margin-top: 9vw;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding-right: 100px;
}

.buttonWithText:hover .hoverTextRight {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.hoverTextLeft {
    font-size: 1.55vw;
    font-family: "Beiruti", sans-serif;
    height: 280px;
    margin-top: 4.5vw;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding-left: 50px;
}

.buttonWithText:hover .hoverTextLeft {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.boldText {
    font-weight: 600;
}

.buttonWithText img {
    width: 32vw;
}

.JustifyRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30vw;
}

.northernIrelandImage {
    width: 32vw;
    background: transparent;
    border: none;
    margin-right: 100px;
}

.tallinnImage {
    background: transparent;
    border: none;
    margin-left: 150px;
}

.JustifyLeft {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 30vw;
}

.buttonWithText {
    display: flex;
}

.BudapestOneImage {
    border: none;
    background-color: transparent;
    margin-right: 100px;
}

.BudapestTwoImage {
    border: none;
    background-color: transparent;
    margin-left: 80px;
}

.ValenciaImage {
    border: none;
    background: transparent;
    margin-right: 100px;
}

.connectObjects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.letterButtonOne {
    background: transparent;
    border: none;
    margin-left: 26vw;
    margin-right: 50px;
}

.hoverTextLetters {
    font-size: 0.9vw;
    opacity: 0;
    width: 350px;
    height: auto;
    max-height: 80px;
    padding-right: 100px;
}

.justifyLetters:hover .hoverTextLetters,
.justifyLetters:hover .hoverTextLettersTwo {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.justifyLetters img {
    width: 3vw;
}

.letterButtonTwo {
    background: transparent;
    border: none;
    margin-left: 26vw;
    margin-right: 50px;
}

.hoverTextLettersTwo {
    font-size: 0.9vw;
    opacity: 0;
    width: 450px;
    height: auto;
    max-height: 150px;
}