.spainSections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.travelPhotos {
    margin-top: 50px;
}

.travelPhotos img {
    width: 100%;
    height: auto;
}

.alignFont {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    font-family: "Beiruti", sans-serif;
}

.alignFont h1 {
    font-size: 2.5vw;
}

.alignFont h2 {
    font-size: 1.8vw;
}

.alignFont h3 {
    font-size: 1.3vw;
    margin-top: -20px;
}

.alignFont p {
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: 10px;
}

.linkedin {
    background-color: transparent;
    border: none;
    margin-top: 30px;
}

.linkedin h2 {
    font-family: "Beiruti", sans-serif;
    font-size: 1.5vw;
}

.linkedin img {
    margin-top: 2px;
    width: 6vw;
    height: auto;
}

.CoursesGreyLine {
    width: 40%;
    height: 3px;
    background-color: rgba(178, 178, 178, 0.683);
    margin-top: 80px;
    margin-bottom: 50px;
}

.nextButton {
    margin-bottom: 50px;
}

.buttonInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.5vw;
    margin-left: 20px;
}

.buttonInfo h4 {
    margin-right: 10px;
}

.buttonInfo img {
    width: 20%;
}

.nextButton button {
    width: 10vw;
    height: 3vw;
    border-radius: 50px;
    background-color: transparent;
    font-size: 1.3vw;
    font-family: "Beiruti", sans-serif;
}

@media only screen and (max-width: 1000px) {
    .spainSections {
        margin-top: 150px;
    }

    .travelPhotos img {
        width: 100%;
        height: auto;
    }

    .alignFont {
        margin-top: -130px;
    }

    .alignFont h1 {
        font-size: 3.5vw;
    }

    .alignFont h2 {
        font-size: 3vw;
    }

    .alignFont h3 {
        margin-top: 5px;
        font-size: 2.8vw;
    }

    .alignFont p {
        font-size: 2.4vw;
    }

    .linkedin img {
        margin-top: 1vw;
        width: 8vw;
        height: auto;
    }

    .CoursesGreyLine {
        margin-top: 60px;
        margin-bottom: 150px;
    }

    .nextButton button {
        width: 20vw;
        height: 5vw;
        font-size: 2.4vw;
    }
    .nextButton {
        margin-top: -80px;
    }

}

@media only screen and (max-width: 800px) {
    .travelPhotos img {
        width: 100%;
        height: auto;
    }

    .alignFont {
        margin-top: -130px;
    }

    .alignFont h1 {
        font-size: 4vw;
    }

    .alignFont h2 {
        font-size: 3.6vw;
    }

    .alignFont h3 {
        margin-top: 5px;
        font-size: 3.3vw;
    }

    .alignFont p {
        font-size: 3vw;
    }

    .linkedin img {
        margin-top: 1vw;
        width: 10vw;
        height: auto;
    }

    .linkedin h2 {
        font-size: 3vw;
    }

    .CoursesGreyLine {
        margin-top: 10px;
        margin-bottom: 140px;
        height: 2px;
    }

    .nextButton button {
        width: 25vw;
        height: 6vw;
        font-size: 2.6vw;
    }

    .nextButton {
        margin-top: -80px;
    }

}

@media only screen and (max-width: 450px) {
    .alignFont h1 {
        font-size: 6vw;
    }

    .alignFont h2 {
        font-size: 5vw;
    }

    .alignFont p {
        font-size: 4vw;
    }

    .backgroundInfoOne img {
        width: 30vw;
        height: 70vw;
    }

    .linkedin {
        margin-bottom: 10vw;
    }

    .CoursesGreyLine {
        margin-top: 10px;
        margin-bottom: 140px;
        height: 1px;
    }

    .nextButton button {
        width: 34vw;
        height: 7.5vw;
        font-size: 3.2vw;
    }

    .nextButton {
        margin-top: -100px;
    }
}